<div [formGroup]="form">
  <address-form legend="Address"></address-form>

  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Course title"
      formControlName="title"
      #title
    />
    <mat-hint align="end">{{ title.value.length }} / 60</mat-hint>

    <mat-error *ngIf="courseTitle.errors?.titleExists"
      >Title already exists</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select category" formControlName="courseCategory">
      <ng-container *ngFor="let courseCategory of courseCatagories$ | async">
        <mat-option [value]="courseCategory.code">{{
          courseCategory.description
        }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="releaseDatePicker"
      placeholder="Release date"
      formControlName="releaseDateAt"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="releaseDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #releaseDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox color="primary" formControlName="downloadsAllowed"
    >Download allowed</mat-checkbox
  >

  <mat-form-field appearance="outline">
    <textarea
      matInput
      placeholder="Description"
      formControlName="longDescription"
    >
    </textarea>
  </mat-form-field>
</div>

<div class="form-val">
  {{ form.value | json }}
  <p>Form is valid: {{ form.valid }}</p>
</div>
